
<div id="mainDiv"  ng-controller="Main">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{meeting.meetingName}}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">

                    <div class="form-group form-group-right">
                        <input id="usernme" type="text" class="form-control usernameInput" placeholder="Enter your name">
                        <input id="usernameEmail" type="email" class="form-control userEmail" placeholder="Enter your email">
                        <button id="joinButton" ng-click="userJoin()" class="btn btn-info">Join</button>
                        <button id="createButton" ng-click="createNote()" class="btn btn-success" ng-hide="true">Create Note</button>
                        <button id="leaveButton" ng-click="userLeave()" class="btn btn-danger" ng-hide="true">Leave</button>
                        <button id="resetButton" ng-click="resetVotes()" class="btn btn-warning" ng-hide="true">Reset Votes</button>
                        <div class="form-group form-group-right">
                            <ul class="nav navbar-nav myTimerLocation" ng-controller="myController">
                                <li class ="MyTimerButton">
                                    <button id="startBtn" type="button" class="close" ng-click="play()">
                                        <span class="glyphicon glyphicon-play"></span>
                                    </button>
                                </li>
                                <li class ="MyTimerButton">
                                    <button id="pauseBtn" type="button" class="close" ng-click="pause()">
                                        <span class="glyphicon glyphicon-pause"></span>
                                    </button>
                                </li>
                                <li class ="MyTimerButton">
                                    <button id="stopBtn" type="button" class="close" ng-click="stop()">
                                        <span class="glyphicon glyphicon-stop"></span>
                                    </button>
                                </li>
                                <li class="myTimerDisplay">{{timestuff}}</li>

                            </ul>
                        </div>
                    </div>
                </form>

                <!-- Side Menu -->
                <a id="menu-toggle" class="btn btn-primary btn-lg toggle"><i class="glyphicon glyphicon-th-list"></i></a>
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <a id="menu-close" href="#" class="btn btn-danger glyphicon glyphicon-arrow-right pull-right toggle"><i class="fa fa-times"></i></a>
                        <a id="menu-setting" href="#" class="btn btn-info glyphicon glyphicon-cog pull-right toggle"><i class="fa fa-times"></i></a>
                        <li class="sidebar-brand"><a>User List</a>
                        </li>
                        <li><a ng-repeat="user in meeting.users" user="user">
                            {{user.name}}</a>
                        </li>

                    </ul>
                </div>

                <div id="setting-sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <a id="setting-close" href="#" class="btn btn-danger glyphicon glyphicon-remove pull-right toggle"><i class="fa fa-times"></i></a>
                        <li class="sidebar-brand"><a>Setting</a>
                        </li>
                        <li class="setting-sidebar-li">
                            <input ng-model = "meeting.configurations.timePerTopic" type="number" step="0.5"  class="form-control" placeholder="Time in minutes per topic" required>
                        </li>
                        <li class="setting-sidebar-li"> <input ng-model = "meeting.configurations.extraTimePerTopic" type="number" step="0.5"  class="form-control" placeholder="Extend Time" required>

                        </li>
                        <li class="setting-sidebar-li"> <input ng-model = "meeting.configurations.votesPerUser" type="number" step="1"  class="form-control" placeholder="Votes per user" required>

                        </li>

                        <li class="setting-sidebar-li">
                            <button class="btn btn-lg btn-primary btn-block" id="createMeeting">Save</button></li>
                    </ul>
                </div>
                <!-- /Side Menu -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Ready</h2>
                <div sticky-note ng-repeat="note in meeting.topics | orderBy:'votes':true" note="note" class="alert alert-success sticky-note" ng-show="note.status == 'Ready'">
                    <button type="button" class="close" ng-click="deleteNote(note._id)">&times;</button>
                    <button type="button" ng-click="changeStatus(note)">&rAarr;</button>
                    <input ng-model="note.title" ng-change="updateNote(note)" type="text" class="title" >
                    <textarea ng-model="note.content" ng-change="updateNote(note)" class="body">{{note.content}}</textarea>
                    <label>Created By: {{note.assignedTo}}</label>
                    <!--<button type="button" class="close"><span class="glyphicon glyphicon-thumbs-up"></span></button>-->
                    <span class="close">{{note.votes}}</span>
                    <button type="button" class="close" ng-click="voteUp(note)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                    <!--<button type="button" class="close"><span class="glyphicon glyphicon-thumbs-down"></span></button>-->
                </div>
            </div>
            <div class="col-md-4">
                <h2>Doing<ul class="nav navbar-nav navbar-right" ng-controller="myController">
                    <!--buttons for extending the timer in the doing section-->
                    <li class ="MyTimerButton">
                        <button id="thumbUpBtnDoing" type="button" class="close" ng-click="">

                            <span class="close">{{note.votes}}</span>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button>
                    </li>
                    <li class ="MyTimerButton">
                        <button id="discardBtn" type="button" class="close" ng-click="">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </button>
                    </li>
                    <li class ="MyTimerButton">
                        <button id="thumbDownBtnDoing" type="button" class="close" ng-click="">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </button>
                    </li>
                </ul>
                </h2>
                <div sticky-note ng-repeat="note in meeting.topics" note="note" class="alert alert-success sticky-note" ng-show="note.status == 'Doing'">
                    <button  type="button" class="close" ng-click="deleteNote(note._id)">&times;</button>
                    <button type="button" ng-click="changeStatus(note)">&rAarr;</button>
                    <input ng-model="note.title" ng-change="updateNote(note)" type="text" class="title" >
                    <textarea ng-model="note.content" ng-change="updateNote(note)" class="body">{{note.content}}</textarea>
                    <label>Created By: {{note.assignedTo}}</label>
                    <!--<button type="button" class="close"><span class="glyphicon glyphicon-thumbs-up"></span></button>-->
                    <!--<span class="close">{{note.votes}}</span>-->
                    <!--<button type="button" class="close" ng-click="voteUp(note)"><span class="glyphicon glyphicon-thumbs-up"></span></button>-->
                    <!--<button type="button" class="close"><span class="glyphicon glyphicon-thumbs-down"></span></button>-->
                </div>
            </div>
            <div class="col-md-4">
                <h2>Done</h2>
                <div sticky-note ng-repeat="note in meeting.topics" note="note" class="alert alert-success sticky-note" ng-show="note.status == 'Done'">
                    <button type="button" class="close" ng-click="deleteNote(note._id)">&times;</button>
                    <button type="button" ng-click="changeStatus(note)">&lAarr;</button>
                    <input ng-model="note.title" ng-change="updateNote(note)" type="text" class="title" >
                    <textarea ng-model="note.content" ng-change="updateNote(note)" class="body">{{note.content}}</textarea>
                    <label>Created By: {{note.assignedTo}}</label>
                    <!--<button type="button" class="close"><span class="glyphicon glyphicon-thumbs-up"></span></button>-->
                    <!--<span class="close">{{note.votes}}</span>-->
                    <!--<button type="button" class="close" ng-click="voteUp(note)"><span class="glyphicon glyphicon-thumbs-up"></span></button>-->
                    <!--<button type="button" class="close"><span class="glyphicon glyphicon-thumbs-down"></span></button>-->
                </div>
            </div>

        </div>
    </div>
    <div sticky-note-create id="noteInitial" note="note" class="alert alert-success sticky-note sticky-note-create" ng-hide="true">
        <button type="button" class="close" ng-click="discardNote()">&times;</button>
        <input id="title" type="text" class="title" placeholder="Enter Topic Title">
        <textarea id="content" class="body" placeholder="Enter Topic Text Here"></textarea>
        <!--<label>Created By: {{note.assignedTo.name}}</label>-->
        <!--<button type="button" class="close"><span class="glyphicon glyphicon-thumbs-up"></span></button>-->
        <!--<span class="close">{{note.votes}}</span>-->
        <button type="button" class="close" ng-click="saveNote()"><span class="glyphicon">Save</span></button>
    </div>
</div>
<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
<script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>

<script>
    $("#menu-setting").click(function(e) {
        e.preventDefault();
        $("#setting-sidebar-wrapper").toggleClass("active");
    });
</script>

<script>
    $("#setting-close").click(function(e) {
        e.preventDefault();
        $("#setting-sidebar-wrapper").toggleClass("active");
    });
</script>